@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  h1 {
    @apply md:text-[28px] text-[24px] font-bold leading-[32px];
  }
  
  h2 {
    @apply md:text-[26px] text-[22px] font-bold leading-[28px];
  }
  
  h3 {
    @apply lg:text-[24px] text-[20px] font-bold leading-[26px];
  }
  
  h4 {
    @apply lg:text-[20px] text-[18px] md:font-bold font-semibold leading-[22px];
  }
  
  h5 {
    @apply lg:text-[18px] text-[16px] font-semibold leading-[20px];
  }
  
  h6 {
    @apply text-[14px] font-semibold leading-[18px];
  }
}
